@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gradient-color: linear-gradient(45deg, #FF52AF, #9F53FF 100%);
    --first-color-light: #E5D9FD;
    --first-color-dark: #1E0849;
    --title-color: #220953;
    --text-color:#220953;
    --text-color-light:#A197B4;
    --white-color: #FFFFFF;
    --body-color: #F5F0FF;
    --container-color: #FFFFFF;
    --dark-title-color: #D1C0F1;
    --dark-text-color: #A094B8;
    --dark-body-color: #14092A;
    --dark-container-color: #372A51;
    --g1: linear-gradient(to right,#FD6767 0%, #B900C9 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--body-color);
}

/*==============================START HEADER OR NAVEGATION CODE===============================*/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.logo .logo-text-gradient {
    max-height: 50px;
    vertical-align: middle;
}

.logo-text-gradient {
    font-size: 3rem;
    font-weight: 400;
    background:  linear-gradient(45deg, #FF52AF, #9F53FF);
    -webkit-background-clip: text;
    color: transparent;
}

.nav-list {
    display: flex;
}

.nav-list a{
    position: relative;
    left: 10rem;
    padding-left: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.bx-moon {
    position: relative;
    bottom: 8px;
    color: var(--title-color);
    font-size: 2rem;
    z-index: 10001;
    cursor: pointer;
    padding-right: 1rem;
}
#menu-icon {
    color: var(--title-color);
    font-size: 4rem;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/*==============================END HEADER OR NAVEGATION CODE===============================*/

/*==============================START FIRST SECTION OR BANNER CODE===============================*/
.hero {
    height: 100%;
    width: 100%;
    min-height: 120vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

section {
    padding: 0 16%;
}

.hero-text h3{
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: var(--text-color);
}

.hero-text-gradient {
    background: var(--gradient-color);
    color: var(--container-color);
    padding: 8px;
    border-radius: 1rem;
    display: inline-block;
    transform:rotate(10deg);
}

.hero-text-p {
    width: 58%;
    font-size: 0.9rem;
    line-height: 1.3;
    padding-bottom: 30px;
}

.btn-hero {
    padding: 15px 30px;
    background: var(--gradient-color);
    border-radius: 50px;
    color: var(--container-color);
    font-size: 1.2rem;
}

#arrow {
    position: relative;
    top: 3px;
    transform: rotate(180deg);
}

.class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
}

/*==============================END FIRST SECTION OR BANNER CODE===============================*/

/*==============================START SECOND SECTION CODE===============================*/
.second-section{
    padding: 15px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.second-section-title {
    position: relative;
    top: 0;
    left: 15rem;
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-color);
}

.second-text {
    padding: 30px;
    font-size: 1.1rem;
    color: var(--text-color);
}

.btn-second {
    position: relative;
    bottom: 4rem;
    right: 10.5rem;
    padding: 13px 25px;
    font-size: 1.5rem;
    font-weight: 400;
    background:  linear-gradient(45deg, #FF52AF, #9F53FF);
    -webkit-background-clip: text;
    color: transparent;
}

/*==============================END SECOND SECTION CODE===============================*/

/*==============================START THIRD SECTION CODE===============================*/
.third-section{
    height: 100%;
    width: 100%;
    min-height: 120vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.third-text h3{
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color);
}

.third-text-p{
    font-size: 1rem;
    line-height: 1.3;
    padding-bottom: 30px;
}

.top-info {
    display: block;
    position: relative;
    top: 10rem;
    left: 1rem;
    width: 30%;
    background: var(--container-color);
    border-radius: 10px;
    padding: 0.5rem;
    
    
}
.heart-bx {
    background: #FFE6E5;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

}
.bxs-heart{
    position: relative;
    top: 2px;
    left: 2px;
    color: red;
}

.top-info-text {
    background:  linear-gradient(45deg, #FF52AF, #9F53FF);
    -webkit-background-clip: text;
    color: transparent;
}

.bott-info {
    display: block;
    position: relative;
    bottom: 7rem;
    left: 20rem;
    width: 20%;
    background: var(--container-color);
    border-radius: 10px;
    padding: 0.5rem;   
}

/*==============================END THIRD SECTION CODE===============================*/

/*==============================START ALL THE DIEGOS'S SECTIONS CODE===============================*/


#section4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: var(--gradient-color);
}
#box4-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    text-align: start;
    gap: 10%;
}
#box4-2 picture {
    display: flex;
    justify-content: center;
}
#box4-2 {
    margin-right: 10%;
}
h1 {
    font-size: 4rem;
    font-family: 'lora';
    font-weight: 400;
    margin: 0px;
    color: var(--title-color);
}
button {
    background: linear-gradient(45deg, #FF52AF, #9F53FF 100%);
    color: var(--white-color);
    border: none;
    font-weight: 600;
}

#button4-1 {
    font-family: 'poppins';
    width: 40%;
    align-self: start;
    height: 40px;
    border-radius: 20px;
}
#box5-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}
#text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#yoga {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    color: transparent;
    
}
#button5-1{
    font-family: 'poppins';
    height: 15%;
    border-radius: 300px;
    width: 15%;
    align-self: center;
    position: relative;
    top: 20%;
}
#box5-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}
#newsletter{
    color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding: 5%;
    background: var(--gradient-color);
    border-radius: 30px;
}
#newsletter h1 {
    color: var(--white-color);
}
#newsletter p {
    color: var(--white-color);
}
#section6 {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#button6-1{
    font-family: 'poppins';
    height: 40px;
    border-radius: 20px;
    width: 30%;
    align-self: center;
    position: relative;
    bottom: 20.5%;
    left: 34%;
}
input {
    height: 50px;
    border-radius: 70px;
    border-color: transparent;
}
input::placeholder{
    font-family: 'poppins';
    text-align: center;
    padding-right: 20%;
}
footer {
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    color: white;
    background-color: black;
}
footer p {
    color: white;

}
#footer1 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-bottom: solid;
}
#footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img {
    cursor: pointer;
}
button {
    cursor: pointer;
}
#sroutine1{
    position: relative;
    top: 22%;
    left: 25%;
    z-index: 2;
}
#broutine1 {
    position: relative;
    right: 10%;
    top: 5%;
}
#broutine2 {
    position: relative;
    bottom: 5%;
    left: 10%;
    z-index: -1;
}
#sroutine2 {
    position: relative;
    z-index: 2;
    bottom: 19%;
    right: 24%;
}

/*==============================END ALL THE DIEGOS'S SECTIONS CODE===============================*/